<body>
    <div class="banner">
        <h1>WELCOME TO BIKE BUDDY</h1>
    
    <h2>
        Come, Take, Start & Fly
    </h2>
    </div>
    <footer class="back">
		
            <ul>
            <li><a href="home" id="home">home</a></li><br>
           <li><a href="membership" id="about">membership</a><br></li>
           <li><a href="order" id="order">order</a><br></li>
           <li><a href="order" id="order">order</a><br></li>
           <li><a href="about us" id="about">about us</a><br></li>
        <li><a href="contact us" id="contact">contact us</a><br></li></ul>
            <p class="text-footer">
			Copyright 2018 ©-All rights are reserved
		</p>
        </footer>


    
</body>